.PracticeProblemFour{
    color: black;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: content-box;
    padding: 5px;
    width: 75%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: scroll;
    border-radius: 0.3rem;
}

.Form{
    color: black;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    box-shadow:2px 2px 3px #ccc;;
    padding: 20px;
    width: 60%;
    height: 90%;
    margin: auto;
    border-radius: 0.3rem;
}