.Counter{
    color: black;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow:2px 2px 3px #ccc;;
    width: 75%;
    padding-bottom: 20px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.Button{
    background-color: rgb(203, 206, 203);
    padding: 5px;
    margin-left: 10px;
    border-color: rgb(194, 209, 194);
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 2px #999;
}

.Input_number{
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    border-color: rgb(136, 170, 136);
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 2px #999;
    width: 50px
}


/* @media (min-width: 500px){
    .PracticeProblemOne{
        width: 450px;
    }
} */

.Button:hover{
    border-color: gainsboro;
}

.h4_Red{
    color: red;
}